.card {
  position: relative;
  cursor: pointer;
}

/*
Change size of individual images 
based on difficulty
*/

img.easy {
  width: 60%;
}

img.medium {
  width: 50%;
}

img.hard {
  width: 30%;
}

.card p {
  color: var(--credit-text-yellow);
  margin: 0;
}
