.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: auto;
  grid-row: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  padding: 40px;
  gap: 32px;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 16px;
}

.score-board {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 8px 32px;
  margin: 0;
}

.difficulty-splash-container > * {
  margin: 8px;
}
