.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: auto;
  grid-row: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  padding: 90px;
  padding-top: 0;
  gap: 32px;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 16px;
}
