.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row: auto;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 16px;
}
