.score-board-container {
  position: relative;
  background: url("../assets/images/minecraft-sign.png");
  background-size: cover;
  padding: 16px;
  border: 2px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.score-board-container > * {
  font-size: 0.8rem;
  user-select: none;
  color: black;
  font-weight: 400;
}
