@font-face {
  font-family: minecraftia;
  src: url("./assets/fonts/Minecraftia-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("./assets/images/default-background.png");
  background-size: cover;
}

:root {
  font-family: minecraftia;

  --splash-text-yellow: #ffffa0;
  --credit-text-yellow: #fdff04;
}
